[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[packages]
nltk = "==3.4.5"
scikit-learn = "*"
setuptools = "*"
pandas = "*"
nlpyport = "*"
joblib = "*"
tables = "*"
gensim = "*"
openpyxl = "*"
src = {editable = true, path = "."}
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
datasets = "*"
matplotlib = "*"
odfpy = "*"
ipython = "*"
sentence-transformers = "*"
shap = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
