[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "==3.4.5"
scikit-learn = "*"
setuptools = "*"
pandas = "*"
nlpyport = "*"
joblib = "*"

[dev-packages]
src = {editable = true, path = "."}
autopep8 = "*"

[requires]
python_version = "3.9"
